<style>
		body{
			background-color:#485567;
			/* font-family:sans-serif; */
		}
		.mainPanel{
			background-color:#DDE5E9;
			margin:25px;
			-moz-border-radius: 25px; 
			-webkit-border-radius: 25px;
			border-radius: 25px;
			border:2px solid #EFAB21;
			width: 1000px ;
			margin-left: auto ;
			margin-right: auto ;
			
		}
		
		.header{
			display:block;
			height:100px;
			background-image: url(../../../shared/images/mynalogo.png);
			background-repeat:no-repeat;
			border-bottom:2px solid #EFAB21;
			padding-left:350px;
			padding-top:30px;
			
		}
		.contentPanel{
			padding:20px;
			/* padding-right:20px; */
			/* float:right; */
		}
		
		
		.title{
			font-family:serif;
			font-weight:bold;
			font-size:30px;
		}
		.flash_error{
			background-color:white;
			margin:25px;
			-moz-border-radius: 25px; 
			-webkit-border-radius: 25px;
			border-radius: 25px;
			border:2px solid red;
			width: 1000px ;
			margin-left: auto ;
			margin-right: auto ;
			padding:10px;
		}
	
	</style>
<div class="mainPanel" name="top">
	<div class="header"><span class="title">Change your Myna Administrator Password</span><br></div>
	<div class="contentPanel">
		<form method="post" action="<%=Html.url({action:"saveAdminPassword"})%>">
			<table  height="1" cellpadding="0" cellspacing="0" border="0" >
				<@if authCodeRequired>
					<tr>
						<td><label>Temporary Auth Code:</label></td>
						<td><input type="password" name="authCode"></td>
					</tr>
					<tr>
						<td colspan="2">See <%=new Myna.File('/WEB-INF/myna/admin_auth_code').javaFile%></td>
					</tr>
				<@else>
					<tr>
						<td><label>Current Admin Password:</label></td>
						<td><input type="password" name="existingPwd"></td>
					</tr>
				</@if>
				<tr>
					<td><label>New Password:</label></td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td><label>New Password (again):</label></td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><button type="submit">Change</button></td>
				</tr>
			</table>
		<form>
	</div>
</div>
