<div id="help">

A "login" is a unique identifier with an authentication authority, such as a 
local database, a Microsoft Active Directory, LDAP, or Open ID. Myna know's how 
to authenticate against its own local database in myna_permissions. To use this 
functionality, save a user name and password, and set the type to "local". You 
can then compare a plain text password to the stored password via 
<a	href="../../shared/docs/js/libOO/files/Permissions-sjs.html#Myna.Permissions.isCorrectPassword" target="docs">Myna.Permissions.isCorrectPassword</a>


<p>You can store logins for other services as well. Simply set the the "type" 
field to something other than "local". You can then use this field to indicate 
what external authenticator is   

</div>