<% Myna.applyTo(this); %>
<@if $req.data.upload>
	<%=dump($req.data,"$req.data",10)%>
<@elseif $req.data.showprogress>
		<META HTTP-EQUIV="refresh" content="1;URL=?showprogress=true">
		<%=$session.get("$uploadProgress")?$session.get("$uploadProgress").message:"no upload pending"%>
<@elseif $req.data.showform>
	<form action="?upload=true" method="post" enctype="multipart/form-data" autocomplete="off" >
		<input type="file" name="uploadedFile">
		<input type="file" name="uploadedFile">
		<p>
		<button type="submit">Upload Files</button>
	</form>
<@else >
	<iframe src="?showprogress=true" frameborder="false"  width="100%" height="50"></iframe>
	<iframe src="?showform=true" frameborder="false" width="100%" height="90%"></iframe>
	
</@if>
<div id="output"></div>

