<html>
   <head>
      <title>Example SQL queries</title> 
   </head>
   <body>
       <h2>A where clause using prepared statements (Values)</h2>
      Using defined SQL parameters improves speed, especially for for repeated 
      queries, and they prevent <a href="http://en.wikipedia.org/wiki/SQL_injection">SQL injection</a> 
      by forcing the input to be interpreted as data rather than SQL. Notice the 
      parameterized values in the SQL dump <p>
      This example implicitly uses Myna.QueryParams by inserting placeholders in 
      the form of {name:type} in the SQL string, and the passing a "values" parameter
      to Myna.query. This could be used in conjuction with $req.data to quickly map
      an html form to a query
      <pre class="sh_myna">
      
      </pre>
      
      returns:
      <%
      var result = new Myna.Query({
         ds:"myna_log",
         sql:<ejs>
            Select 
               log_id,
               type,
               label
            from myna_log_general
            where type={type:varchar}
         </ejs>,
         maxRows:10,
         values:{
            type:"INFO"
         }
      })
      Myna.print(Myna.dump(result));
      %>
   
   </body>
</html>