<%-- 
	If You are seeing this, you are not browsing this documentation on a Myna Server.
	To execute code samples, please browse to the documentation through a running Myna Server
--%>

<html>
	<body>
	<% var today = new Date(); %>
	Hello, World!<br>
	Today is is <%=today%>
	</body>
</html>