p {
  text-indent: 0;
  margin-bottom: 1em;
}
/* u {
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
} */
.CDLEntry,u{
	font: 10pt "Courier New", Courier, monospace; 
	color: blue;
	padding-bottom: .25em;
	/* font-style:italic; */
	text-decoration:none;
	font-weight:bold;
	white-space: nowrap 
}
.CCode {
	font: 10pt "Courier New", Courier, monospace;
	background-color:#E8E8E8;
	padding:3px;
	padding-left:15px;
}