<style>
	
	.head_row td{
		font-weight:bold;
		background-color:gray;
	}
	.alt_row td{
		background-color:silver;
		
	}
	.passed{
		background-color:green;
		font-weight:bold;
		color:white;
		text-align:center;
	}
	.failed{
		background-color:red;
		font-weight:bold;
		color:white;
		text-align:center;
	}
	td{
		border:1px solid black;
		border-top:0px;
		border-left:0px;
	}
	#test_results{
		border:1px solid black;
		border-bottom:0px;
		border-right:0px;
	}	
</style>

<%
/* Function: assertStringEqual
	throws an exception if the two strings are not the same value and type
	
	Parameters:
		expected	-	expected value
		actual		-	Actual value
		
	Detail:
		works best with simple objects like strings and numbers 
*/
	function assertStringEqual(expected,actual){
		if (expected !== actual) throw "Expected '" + expected +"' got '" +actual+"'";
	}
	
/* Function: execute_test
	Executes supplied test function and returns PASSED or an error message
	
	Parameters:
		label			-	String to describe the test
		test_function	-	Function that throws an exception if it fails
	Returns:
		a String: "PASSED" or an error message 
*/
	function execute_test(test_function){
		try{
			test_function();
			return "<div class='passed'>PASSED</span>";
		}catch(e){
			return "<div class='failed'>FAILED</span><p>" + $lib.dump(e);
		}
	}
var tests=[];
/* Function: add_test
	adds a test to the array
	
	Parameters:
		label			-	String to describe the test
		test_function	-	Function that returns true if the test passed, or throws 
							an exception if it fails
	Returns:
		a String: "PASSED" or an error message 
*/
	function add_test(label,test_function){
		tests.push({label:label,test_function:test_function});	
	}
/* ====== tests ============== */

$lib.includeOnce("lib.js");
$lib.includeOnce("lib.sjs");
	
%>

<table id="test_results" width="100%" height="1" cellpadding="0" cellspacing="0" border="0" >
	<tr class="head_row">
		<td>
			Test Name
		</td>
		<td align="center">
			Result
		</td>
	</tr>
	<% tests.forEach(function(element,index){ %>
		<tr class="<%=index%2?'':'alt_row'%>">
			<td><%=element.label%></td>
			<td><%=execute_test(element.test_function)%></td>
		</tr>
	<% }) %>
</table>