<html>
   <head>
      <title>Example SQL queries</title> 
   </head>
   <body>
      <h2>second 10 rows of the general log</h2> 
      
      returns:
		<%
			var result = new Myna.Query({
				ds:"myna_log",
				sql:<ejs>
					Select 
						log_id,
						type,
						label
					from myna_log_general
				</ejs>,
				startRow:10,
				maxRows:10
			})
			Myna.print(Myna.dump(result));
		%>
   
   </body>
</html>