<html>
<head>
	<title>{title}</title>
	
	<link rel="stylesheet" type="text/css" href="{extUrl}resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" title="uhslate"  href="{extUrl}resources/css/uhtheme-slate.css" />
	
	<LINK REL="StyleSheet" HREF="views/default.css" TYPE="text/css"/>
	
	<script type="text/javascript" src="{extUrl}adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="{extUrl}ext-all.js"></script>
	<script type="text/javascript" src="{rootUrl}shared/js/libOO/client.sjs"></script>
	
	<script>
		Ext.onReady(function(){
			Ext.BLANK_IMAGE_URL = '{extUrl}resources/images/default/s.gif';
		});
	</script>
	<script src="controller.js"></script>
	
	<script>
		var version = '{version}';
		var rootUrl = '{rootUrl}';
		var rootDir = '{rootDir}';
		var title = '{title}';
		var dbProperties = {dbProperties}
		var loggers = {loggers}
		Ext.onReady(function(){
			C.init()
		});
	</script>
</head>
<body></body>