<link rel="stylesheet" type="text/css" href="{extUrl}resources/css/ext-all.css" />
<LINK REL="StyleSheet" HREF="views/default.css" TYPE="text/css"/>
<script type="text/javascript" src="{extUrl}adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{extUrl}ext-all-debug.js"></script>
<script type="text/javascript" src="{rootUrl}shared/js/libOO/client.sjs"></script>
<script>
	Ext.onReady(function(){
		Ext.BLANK_IMAGE_URL = '{extUrl}resources/images/default/s.gif';
	});
</script>
<script>
	Ext.onReady(function(){
		//document.getElementById('password').focus();
		    Ext.QuickTips.init();

		// turn on validation errors beside the field globally
		Ext.form.Field.prototype.msgTarget = 'side';
	
		var bd = Ext.getBody();

		var submit =function(){
			editForm.form.submit({
				waitMsg:"Logging into Myna Administrator..."
			});
		}
		
		var editForm = new Ext.FormPanel({
			labelWidth: 75, // label settings here cascade unless overridden
			url:'?fuseaction=auth',
			frame:true,
			title: 'Myna Administrator Login',
			bodyStyle:'padding:5px 5px 0',
			defaults: {
				width: 150,
				selectOnFocus:true
			},
			defaultType: 'textfield',
			keys:{
				key: [10,13],
				fn:submit
			},
			//floating:true,
			items: [{
					fieldLabel: 'Username',
					value:'Admin',
					name: 'username',
					allowBlank:false
				},{
					fieldLabel: 'Password',
					inputType:'password',
					name: 'password',
					allowBlank:false
				}
			],
	
			buttons: [{
				text: 'Login',
				handler:submit
			}],
			listeners:{
				actioncomplete: function(form, action){
					if(action.type == 'submit'){
						if (action.result.url){
							location.href=action.result.url;
						}
					}
				},
				actionfailed: function(form, action){
					if(action.type == 'submit'){
						alert(action.result.errorMsg);
						Ext.get("login_error").dom.innerHTML =action.result.errorMsg;
						editForm.form.findField("password").focus();
					}
				}
			}
		});
	
		editForm.render('login');
		
		
		Ext.get("login-form").setWidth(300).anchorTo(document.body,'c-c');
		editForm.form.findField("password").focus();
	});
	
</script>

<div id="login-form">
	<div id="login"></div>
	<div class="login_error" id="login_error"> </div>
</div>