<div id="help" style="padding:10px;">
	<b>Running Requests</b><br>
	This is a listing of running requests, refreshed every 10 seconds. Its 
	purpose is to show potential bottle-necks and "stuck" threads. It displays 
	the following columns:
	<p>&nbsp;<p>
		<li><b>Thread ID:</b><br>
		A unique identifier for the running request
		</li>
		
		<li><b>Script:</b><br>
		URL path from context root of the running request
		</li>
		
		<li><b>CurrentTask:</b><br>
		Either "Queued" if the request is waiting in the input queue, or last 
		entry in $profiler for that thread  
		</li>
		
		<li><b>Whitelisted?:</b><br>
		true if this thread is bypassing request management. See "Thread 
		Management Whitelist" in General Settings
		</li>
		
		<li><b>Started:</b><br>
		Date and time the request was started
		</li>
		
		<li><b>Current:</b><br>
		Time in milliseconds that the current task in in this request has been running
		</li>
		
		<li><b>Total:</b><br>
		Total Time in milliseconds that this request has been running
		</li>
		
		<li><b>"stop"</b><br>
		Attempts to interrupt the thread "nicely", giving the thread a chance to 
		deal with the exception and close any open handles. This works best if 
		the thread is actively processing
		</li>
		
		<li><b>"kill"</b><br>
		First attempts to interrupt any sleep or I/O states. If that fails, then 
		Myna will attempt to kill the thread, without giving it a chance to handle the 
		exception. This could cause memory leaks and/or corruption, so 
		use with care. This may be your only option if the thread is blocked in
		I/O
		</li>
</div>