<div id="help" style="padding:10px;">
	
	
	<b>Name</b><br>
	A name for this scheduled task.
	<br><br>
	
	<b>Description</b><br>
	A brief description of what this task does and why.
	<br><br>
	
	<b>URL</b><br>
	URL to run. No output is captured from this script.
	<br><br>
	
	<b>Active?</b><br>
	Only active tasks will be executed.
	<br><br>
	
	<b>Start Date</b><br>
	The first date this script should be run.  
	<br><br>
	
	<b>Start Time</b><br>
	The first time this script will run in hours(24):minutes:seconds format
	<br><br>
	
	<b>Run Every</b><br>
	This is the interval and and scale of the task 
	<br><br>
	
</div>