/* First, clear everything out */

	/* from: http://meyerweb.com/eric/tools/css/reset_default/index.html
	
	 v1.0 | 20080212 
	 
	*/
	
	.reset_default, .reset_default html, .reset_default body, .reset_default div, .reset_default span, .reset_default applet, .reset_default object, .reset_default iframe,
	.reset_default h1, .reset_default h2, .reset_default h3, .reset_default h4, .reset_default h5, .reset_default h6, .reset_default p, .reset_default blockquote, .reset_default pre,
	.reset_default a, .reset_default abbr, .reset_default acronym, .reset_default address, .reset_default big, .reset_default cite, .reset_default code,
	.reset_default del, .reset_default dfn, .reset_default em, .reset_default font, .reset_default img, .reset_default ins, .reset_default kbd, .reset_default q, .reset_default s, .reset_default samp,
	.reset_default small, .reset_default strike, .reset_default strong, .reset_default sub, .reset_default sup, .reset_default tt, .reset_default var,
	.reset_default b, .reset_default u, .reset_default i, .reset_default center,
	.reset_default dl, .reset_default dt, .reset_default dd, .reset_default ol, .reset_default ul, .reset_default li,
	.reset_default form, .reset_default label, .reset_default legend,
	.reset_default table, .reset_default caption, .reset_default tbody, .reset_default tfoot, .reset_default thead, .reset_default tr, .reset_default th, .reset_default td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;;
		color:black;
	}
	.reset_default body {
		line-height: 1;
	}
	.reset_default ol, .reset_default ul {
		list-style: none;
	}
	.reset_default blockquote, .reset_default q {
		quotes: none;
	}
	.reset_default blockquote:before, .reset_default blockquote:after,
	.reset_default q:before, .reset_default q:after {
		content: '';
		content: none;
	}
	
	/* remember to define focus styles! */
	.reset_default :focus {
		outline: 0;
	}
	
	/* remember to highlight inserts somehow! */
	.reset_default ins {
		text-decoration: none;
	}
	.reset_default del {
		text-decoration: line-through;
	}
	
	/* tables still need 'cellspacing="0"' in the markup */
	.reset_default table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* Now, add back some reasonable defaults */
	/** From: .reset_default http://noscope.com/vanilla-css, with modifications
	* Start Vanilla Stylesheet 0.9.5
	*/
	.reset_default a {
		color:blue;
		text-decoration:underline;
		cursor:pointer;
	}
	.reset_default body {
		font: 9pt/1.5em Arial, Helvetica, sans-serif;
	}
	.reset_default pre, .reset_default code, .reset_default tt {
		font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;
	}
	
	.reset_default h1, .reset_default h2, .reset_default h3, .reset_default h4, .reset_default h5, .reset_default h6, .reset_default b, .reset_default strong {
		font-weight: bold;
		margin-top:5px;
		margin-bottom:10px;
	}
	.reset_default h1{
		font-size:	24pt;
	}
	
	.reset_default h2{
		font-size:	18pt;
	}
	.reset_default h3{
		font-size:	14pt;
	}
	
	.reset_default em, .reset_default i, .reset_default dfn {
		font-style: italic;
	}
	.reset_default dfn {
		font-weight:bold;
	}
	.reset_default p, .reset_default code, .reset_default pre, .reset_default kbd {
		margin:0 0 1.5em 0;
	}
	.reset_default blockquote {
		margin:0 1.5em 1.5em 1.5em;
	}
	li .reset_default ul, li .reset_default ol {
		margin:0 1.5em;
	}
	.reset_default ul, .reset_default ol {
		margin:0 1.5em 1.5em 1.5em;
	}
	.reset_default ul, ul .reset_default li {
		list-style-type:disc;
	}
	.reset_default ol, ol .reset_default li {
		list-style-type:decimal;
	}
	.reset_default dl {
		margin:0 0 1.5em 0;
	}
	dl .reset_default dt {
		font-weight:bold;
	}
	.reset_default dd {
		margin-left:1.5em;
	}
	.reset_default table {
		margin-bottom:1.4em;
		width:100%;
	}
	.reset_default th {
		font-weight:bold;
	}
	.reset_default th, .reset_default td, .reset_default caption {
		padding:4px 10px 4px 5px;
	}
	.reset_default tfoot {
		font-style:italic;
	}
	.reset_default sup, .reset_default sub {
		line-height:0;
	}
	.reset_default abbr, .reset_default acronym {
		border-bottom: 1px dotted;
	}
	.reset_default address {
		margin:0 0 1.5em;
		font-style:italic;
	}
	.reset_default del {
		text-decoration: line-through;
	}
	.reset_default pre {
		margin:1.5em 0;
		white-space:pre;
	}
	.reset_default img.centered, .reset_default .aligncenter, .reset_default div.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.reset_default img.alignright {
		display: inline;
	}
	.reset_default img.alignleft {
		display: inline;
	}
	.reset_default .alignright {
		float: right;
	}
	.reset_default .alignleft {
		float: left;
	}
	.reset_default .clearfix::after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
	}
	*:first-child+html .reset_default .clearfix {
		zoom: 1;
		display: block;
	}
	* html .reset_default .clearfix {
		zoom: 1;
		display: block;
	}