<%
	var overview = Myna.includeContent("summary.html")
	.replace(/<\/?html>|<\/?body.*?>|<link.*?>/ig,"")

	var features=Myna.includeContent("features_ext.html").replace(/\n/g,"")
	.match(/var desc=(\{.*\}).*parseNode/)[1]//.parseJson();
	features=eval("(" + features + ")");
%>
<html>
	<head>
		<title>Myna Server-Side JavaScript Application Server - Main Page</title>
		<meta name="description" content="Myna is a Server-Side JavaScript web development platform based on Java. It allows developers to access the full power of Java and the development speed of JavaScript." />
		<meta name="keywords" content="SSJS, JavaScript, Java, AJAX, JSON" />
	</head>
	<body>
		<script> //<!-- 
			location.href="index.html"
		//--></script>
		<noscript>
			<h1>Overview</h1>
			<%=overview%>
			<h1>Features</h1>
			<@loop array="features.children" element="f" index="i">
					<b><%=f.text%></b>
					<p><%=f.detail%></p>
			</@loop>
			
			<p/>
			<h1>Documentation</h1>
			<a href="js/libOO/files/Myna-sjs.html">Javascript API documentation</a><br>
			<a href="tutorial/index.html">Tutorial</a>
		</noscript>
	</body>
</html>