/* bluegrey:  8f9eb9*/
/* dark bluegrey: #324f85 */

.app_title{
	font-size:14pt !important;
	font-weight:bold !important;
	font-style:italic !important;
	padding-left:5px !important;
}


body,td{
	font-size:10pt;
	font-family:sans-serif;
	
}
.execute_button{
	padding-left:20px;
	background-image:url("execute.png");	
}
#help h2, #help h3{
	margin-top:15px;
	margin-bottom:5px;
}

#help h1{
	font-size:18pt	
}

#help h2{
	font-size:15pt	
}

#help h3{
	font-size:10pt	
}
#help p{
	margin-top:15px;
}


.link{
	color:blue;
	text-decoration:underline;
	cursor:pointer;	
}

.msg .x-box-mc {
    font-size:14px;
}

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.x-grid3-row-alt{
	 background-color:#f1f2f4; 
}


.db_table .x-tree-node-icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/database_table.png);
}

.db_column .x-tree-node-icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/application_tile_horizontal.png);
}
.db .x-tree-node-icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/database.png);
}
.query_icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/application_form_magnify.png);
}
.edit_icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/application_form_edit.png);
}
.drop_icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/application_form_delete.png);
}
.rename_icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/application_double.png);
}


.refresh_db_icon{
	background-image:url(../../../shared/images/famfamfam_silk/icons/database_refresh.png);
}

